* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

#preload * {
  -ms-transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  width: 100%;
}