$main-background: #eeeeee;

$dark-background: #252525;
$dark-foreground: #383838;

$font-color-light-bg: #121212;
$font-color-dark-bg: #eeeeee;

$dark-primary-color: #1D1728;
$light-primary-color: #372957;

$mobile-nav-bg-color: rgba(29,23,40,0.95);

$largest-font: 4.8rem;
$larger-font: 4.0rem;
$large-font: 3.2rem;
$default-font: 2rem;
$small-font: 1.6rem;